body{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    font-family: sans-serif;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#bottomBorder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#covid{

}

#locationInfo{
color: white;
}

#locationInfo ul{
list-style-type: none;
margin-right: 10px;
text-align: center;
}

#location{
    height:auto;
    width: 250px;
    margin: 15px;
}

#contactIcons{
display: flex;
flex-direction: row;
flex-wrap:nowrap;
justify-content: space-evenly;
align-items: center;
}

#callIcon{
height:55px;
width:auto;
}

#emailIcon{
height:55px;
width:55px;
margin-left: -12px;
}

#instaIcon{
height:35px;
width:35px;
}